@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* HEADER */
.header {
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    to right top,
    #00b16c,
    #1fb978,
    #31c184,
    #3fca90,
    #4dd29c,
    #5cd8a6
  );
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.header img {
  height: 80%;
  padding: 5vh;
}
